<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title)">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title th:text="${title}">Base site</title>

<!--  MAIN -->

<meta name="author" content="Piotr Kowalski" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />



</head>



<div th:fragment="top">

</div>



<div th:fragment="pagination" th:remove="tag">pagination part</div>




<div th:fragment="footer">

    <footer class="footer">
        <div class="container">
        </div>
    </footer>


</div>






</html>